# Auto detect text files and perform LF normalization
* text=auto


# Unreal files
#*.locres filter=lfs diff=lfs merge=lfs -text
#*.locmeta filter=lfs diff=lfs merge=lfs -text
#*.ico filter=lfs diff=lfs merge=lfs -text
#*.uasset filter=lfs diff=lfs merge=lfs -text
#*.umap filter=lfs diff=lfs merge=lfs -text

